@font-face {
    font-family: "GeorgiaRegular"; 
    src: url("../fonts/georgia/georgia-regular.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GeorgiaRegular"; 
    src: url("../fonts/georgia/georgia-regular.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    font-family: "GeorgiaRegular", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    display: block;
}

section > *{
    margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container,
.header_container {
    margin: auto;
    max-width: 1280px;
}

.header_container {
    background-image: url(/assets/images/start-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* покрывает весь элемент*/
    background-attachment: fixed; /*убеждаемся, что весь эелемент покрыт*/
}

.wrapper,
.header_wrapper {
    margin: auto;
    max-width: 1200px;
    padding-top: 60px;
}

header {
    
}

.top_section {
    display: flex;
    justify-content: space-between;
}

.title  {
    font-size: 32px;
    color: #F1CDB3;
    line-height: 0;   
}

.subtitle {
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
}

.navbar {
    margin: auto 0px;
}

.navbar_list_item {
    flex-basis: auto;
    flex-grow: 1;
    padding-left: 35px;
    float:right;
}

.navbar_link {
    font-size: 15px;
    color: #CDCDCD;
}

.navbar_link:hover {
    
    padding-bottom: 5px;
    border-bottom: 3px solid #F1CDB3;
    transition: .2s;
    color: #fff;
}